@font-face {
   font-family: 'MJ-Modern-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Rin/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-02-23_220209/fonts/MJ-Modern-Regular/font.ttf');
}
