@font-face {
   font-family: 'Finesse-Roman';
   font-display: swap;
   src: url('file:///C:/Users/NC/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-04-26_163324/fonts/Finesse-Roman/font.woff');
}
